body{
    margin: 0;
    box-sizing: border-box;
    background-color: black;
    color: white;
}


.tempdiv{
    position: relative;
    top: 4rem;
    margin: auto;
    width: 10rem;
    height: 10rem;
    background-color: skyblue;
}